* {
  text-align: center;
}
.google-link {
  color: green;
  font-size: 60px;
  background-color: antiquewhite;
  text-decoration: none;
}

.google-link:hover {
  background-color: green;
  color: white;
}
